.overlay {
  transform: translateY(-100%);
  animation: overlayEnter 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes overlayEnter {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.overlayReverse {
  transform: translateY(100%);
  animation: overlayReverseEnter 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

@keyframes overlayReverseEnter {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
