@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}

html,
body,
:root {
  width: 100%;
  height: 100%;
}

.flex2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  height: 200px;
  position: absolute;
  width: 200px;
  text-align: center;
  transform-origin: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 10s linear infinite;
}

.nt {
  flex-grow: 0;
  flex-shrink: 0;
}

.nt2 {
  flex-grow: 0;
  flex-shrink: 0;
}

.toggle:focus + nav {
  width: 450px;
}
